@{
    ViewData["Title"] = "Detail Product";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model ShopOnline.Core.Models.Client.ProductDetailPageViewModel

<div class="main__product-details">
    <div class="main__product-details-img">
        <div class="main__product-details-default">
            <img class="main__slides-products" src="@Model.ProductDetail.Pic1" alt="">
            <img class="main__slides-products" src="@Model.ProductDetail.Pic2" alt="" style="display: none;">
            <img class="main__slides-products" src="@Model.ProductDetail.Pic3" alt="" style="display: none;">
        </div>
        <div class="main__product-details-img-box">
            <img class="main__slides-products-picker demo-off" src="@Model.ProductDetail.Pic1" alt="" onclick="currentDiv(1)">
            <img class="main__slides-products-picker demo-off" src="@Model.ProductDetail.Pic2" alt="" onclick="currentDiv(2)">
            <img class="main__slides-products-picker demo-off" src="@Model.ProductDetail.Pic3" alt="" onclick="currentDiv(3)">
        </div>
    </div>
    <div class="main__product-details-disc">
        <div class="main__product-details-disc-content">
            <!-- Get name brand -->
            <h2><a href="@Model.ProductDetail.BrandInfor.Id">@Model.ProductDetail.BrandInfor.Name</a></h2>
            <!-- Get name product -->
            <h1>@Model.ProductDetail.Name</h1>
            <!-- Get price product -->
            <p>@string.Format("{0:N0}", ((Int64)Model.ProductDetail.PriceVND))<span>đ ~ </span> <span class="color-orange">$@string.Format("{0:N0}", ((Int64)Model.ProductDetail.PriceUSD))</span></p>
            <p>@Model.ProductDetail.Description</p>
        </div>
        <form id="add-to-cart-form">
            <div class="main__product-details-disc-select-size">
                <h2>Select Size</h2>
                <div class="main__product-select-size">
                    @foreach (var productInfor in Model.ProductDetail.BaseProductInfors)
                    {
                        if (productInfor.IsAvailable)
                        {
                            <label>
                                <input class="radio-btn-size" name="idProduct" type="radio" value="@productInfor.Id">
                                <input hidden name="quantityInStock" value="@productInfor.Quantity" />
                                <span class="size-value">@((int)productInfor.Size)</span>
                            </label>
                        }
                        else
                        {
                            <label>
                                <input class="radio-btn-size unable" name="idProduct" type="radio" disabled value="@productInfor.Id">
                                <input hidden name="quantityInStock" value="@productInfor.Quantity" />

                                <span class="size-value">@((int)productInfor.Size)</span>
                            </label>
                        }
                    }
                </div>
            </div>
            <div class="main__product-details-select-quantity">
                <h2>Quantity</h2>
                <div class="main__product-quantity-box">
                    <input id="resultOfQuantity" name="quantity" oninput="this.value = quantityFormat(this.value)" value="1" min="1" max="50" type="number" />
                </div>
            </div>
            <div class="main__product-details-disc-submit">
                <input type="submit" onclick="addToCart()" value="Add to Cart">
            </div>
        </form>
    </div>
</div>
<div class="main__product-details">
    <div class="main__product-details-img">
        <div class="main__product-reviews">
            <h1>Reviews (@Model.ProductDetail.ReviewsDetail.Count()) <!--get count reviews--></h1>
            <div class="main__box-reviews">
                @foreach (var reviewDetail in Model.ProductDetail.ReviewsDetail)
                {
                    <div class="main__box-reviews-items">
                        <div class="main__box-reviews-item">
                            <!--Get name-->
                            <h2>@reviewDetail.CustomerFullName</h2>
                            <!--Get time-->
                            <p><span><img src="~/img/icon/icon-watch.png" alt=""></span><em>@reviewDetail.ReviewTime</em></p>
                        </div>
                        <p>@reviewDetail.Content</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="main__product-details-disc">
        <div class="main__product-details-add-review">
            <h2>Write a review</h2>
            <form id="create-review-detail-form">
                <textarea placeholder="Enter your review..." name="Content"></textarea>
                <input name="IdCustomer" value="1" hidden>
                <input name="IdProductDetail" value="@Model.ProductDetail.Id" hidden>
                <input type="submit" value="ADD" onclick="CreateReviewDetail()">
            </form>
        </div>
    </div>
</div>
<div class="main__product-random">
    <h1>YOU MIGHT ALSO LIKE</h1>
    <div class="main__product-random-items">
        @for (int i = 0; i < 6; i++)
        {
            @foreach (var productInforDetail in Model.ProductInfors)
            {
                <div class="main__product-random-item">
                    <a asp-action="DetailProduct" asp-route-id="@productInforDetail.Id"><img src="@productInforDetail.Pic" alt=""></a>
                    <div class="main__product-ramdon-item-box">
                        <div class="main__ramdon-box-item">
                            <h1>@productInforDetail.Name</h1>
                            <p>@string.Format("{0:N0}", ((Int64)productInforDetail.PriceVND))đ</p>
                            <p class="color-orange">$@string.Format("{0:N0}", ((Int64)productInforDetail.PriceUSD))</p>
                        </div>
                        <input type="submit" onclick="location.href='@Url.Action("DetailProduct", "Client", new { id = productInforDetail.Id })'" value="Details">
                    </div>
                </div>
            }
        }
    </div>
</div>
