
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model ShopOnline.Core.Models.Client.ProductHomePageViewModel

<div id="aaa" class="main__content">
    <img src="~/img/background.jpg" alt="">
    <div class="main__content-feature">
        <h1>FEATURE PRODUCTS</h1>
        <p>We will bring you the most comfortable feeling</p>
        <button><a asp-action="Products" asp-route-brandid="@Model.ProductInfors[0].BrandInfor.Id">Shop now</a></button>
    </div>
    @foreach (var productInfor in Model.ProductInfors)
    {
        <div class="main__content-brand-feature">
            <div class="main__content-brand-feature-items">
                <h1>@productInfor.BrandInfor.Name</h1>
                <a asp-action="Products" asp-route-brandid="@productInfor.BrandInfor.Id">More &nbsp<img src="~/img/icon/icon-rarrow.png" style="height: 14px; padding-top: 2px;"></a>
            </div>
            <div class="main__content-brand-feature-items brand">
                @foreach (var productInforDetail in productInfor.ProductsInforDetail)
                {
                    <div class="main__content-brand-feature-item">
                        <div class="main__box">
                            <a asp-action="DetailProduct" asp-route-id="@productInforDetail.Id"><img src="@productInforDetail.Pic" alt=""></a>
                            <div class="main__box-disc">
                                <div>
                                    <h2>@productInforDetail.Name</h2>
                                    <p>@string.Format("{0:N0}", ((Int64)productInforDetail.PriceVND)) VND</p>
                                    <p>@string.Format("{0:N0}", ((Int64)productInforDetail.PriceUSD)) USD</p>
                                </div>
                                <input type="submit" value="ADD TO CART">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
