@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model ShopOnline.Core.Models.Client.ProductsBrandPageViewModel
@using X.PagedList.Mvc.Core;

<div class="main__selection">
    <!-- Get brands -->
    <h1>
        @Model.TypeInfor.Name (@Model.AmountProduct)   <!--789 are all product items of brand--> <span>
            <img id="show-more-btn" class="main__selection-img" src="~/img/icon/icon-arrow-down.png" alt="" onclick="showMoreCateBtn()" />
        </span>
    </h1>
    <input type="text" id="currentSort" hidden value="@ViewBag.CurrentSort+" />
    <div class="main__selection-btn">
        <div class="main__selection-btn-sort">
            <span>
                @Html.ActionLink("Price: High-Low", "Products",
                new { typeId = Model.TypeInfor.Id, sortIncrease = false },
                new { id = "sortDecrease" })
            </span>
            <img src="~/img/icon/icon-down-arrow.png" alt="" />
        </div>
        <div class="main__selection-btn-sort">
            <span>
                @Html.ActionLink("Price: Low-High", "Products",
                new { typeId = Model.TypeInfor.Id, sortIncrease = true },
                new { id = "sortIncrease" })
            </span>
            <img src="~/img/icon/icon-up-arrow.png" alt="">
        </div>
    </div>
</div>
<div class="main__producst">
    <div id="main__products-items" class="main__products-items">
        @foreach (var productInforDetail in Model.ProductsInfor)
        {
            <div id="main__products-item" class="main__products-item">
                <a asp-action="DetailProduct" asp-route-id="@productInforDetail.Id"><img src="@productInforDetail.Pic" alt=""></a>
                <div class="main__box-disc special">
                    <div>
                        <h2>@productInforDetail.Name</h2>
                        <p>@string.Format("{0:N0}", ((Int64)productInforDetail.PriceVND))đ</p>
                        <p class="color-orange">$@string.Format("{0:N0}", ((Int64)productInforDetail.PriceUSD))</p>
                    </div>
                    <input type="submit" onclick="location.href='@Url.Action("DetailProduct", "Client", new { id = productInforDetail.Id })'" value="DETAILS">
                </div>
            </div>
        }
        @*Page @(Model.ProductsInfor.PageCount < Model.ProductsInfor.PageNumber
            ? 0 : Model.ProductsInfor.PageNumber) of @Model.ProductsInfor.PageCount*@
    </div>
</div>
<div id="products-paging" class="main__products-paging">
    @Html.PagedListPager(Model.ProductsInfor, page => Url.Action("Products",
    new { typeId = Model.TypeInfor.Id, sortIncrease = ViewBag.CurrentSort, page }))
</div>