@model ShopOnline.Core.Models.Product.ProductUpdateViewModel
@{
    ViewData["Title"] = "Update Product";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a>Management Sell</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Product Detail</li>
            </ol>
        </nav>
        <h2 class="h4">Update Product</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12 container-create-product">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">General information</h2>
            <form enctype="multipart/form-data" id="update-product-form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Product Detail</label>
                            <input id="product-detail-id" name="IdProductDetail" hidden value="@Model.ProductUpdate.IdProductDetail" />
                            <input name="Id" hidden value="@Model.ProductUpdate.Id" />
                            <input id="name" name="Name" class="form-control" readonly value="@Model.ProductUpdate.Name" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Price (VND)</label>
                            <input id="price" class="form-control" placeholder="Price" readonly/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Base Price (VND)</label>
                            <input id="base-price" class="form-control" placeholder="Base price" readonly/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Size</label>
                            <input class="form-control" value="Size @((int)Model.ProductUpdate.Size)" readonly />
                            <input name="Size" value="@Model.ProductUpdate.Size" hidden />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Product Quantity</label>
                            <input id="product-quantity" name="Quantity" value="@Model.ProductUpdate.Quantity" class="form-control" oninput="this.value = quantityFormat(this.value)" value="1" min="1" max="50" type="number" placeholder="Enter quantity of this product"/>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" @*onclick="CreateProduct()"*@ class="btn btn-gray-800 mt-2 animate-up-2">Save all</button>
                </div>
            </form>
        </div>
    </div>
</div>
