@{
    ViewData["Title"] = "Management Customer";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model ShopOnline.Core.Models.Customer.CustomerModel
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc;

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a>Management Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page">List Customer</li>
            </ol>
        </nav>
        <h2 class="h4">List Customer</h2>
    </div>
</div>
<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        @using (Html.BeginForm("ListCustomer", "Customer", FormMethod.Get))
        {
            <div class="col col-md-6 col-lg-3 col-xl-4">
                <div class="input-group me-2 me-lg-3 fmxw-400">
                    <span class="input-group-text">
                        <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" id="searchString" name="searchString" value="@ViewBag.CurrentFilter"  placeholder="Find by name or email">
                    <button type="submit" value="Search" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
                        Search
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#@Html.ActionLink("Id", "ListCustomer", new { sortOrder = ViewBag.IDSortParm }, new { @class = "text-info" })</th>
                <th>@Html.DisplayNameFor(model => model.customerInfor.Avatar)</th>
                <th>  @Html.ActionLink("FullName", "ListCustomer", new { sortOrder = ViewBag.NameSortParm }, new { @class = "text-info" })</th>
                <th>@Html.DisplayNameFor(model => model.customerInfor.Email)</th>
                <th>Phone Number</th>
                <th>@Html.DisplayNameFor(model => model.customerInfor.Address)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.ListCustomer)
            {
                <tr>
                    <td>
                        @customer.Id
                    </td>
                    <td class="avatar">
                        <img class="rounded" src="@(customer.Avatar)" style="display:block" />
                    </td>
                    <td>
                        @customer.FullName
                    </td>
                    <td>
                        @customer.Email
                    </td>
                    <td>
                        @customer.PhoneNumber
                    </td>
                    <td>
                        @customer.Address
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.ListCustomer.PageCount < Model.ListCustomer.PageNumber ? 0 : Model.ListCustomer.PageNumber) of @Model.ListCustomer.PageCount
    @Html.PagedListPager(Model.ListCustomer, page => Url.Action("ListCustomer",
                                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    @*<div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>*@
</div>
