@{
    ViewData["Title"] = "Check out";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model ShopOnline.Core.Models.Client.ProductCartViewModel
@using ShopOnline.Core.Helpers;

<div class="main__check-out">
    <div class="main__check-out-box">
        <div class="main__check-out-box-title">
            <div class="main__check-out-box-name">
                <p>@Model.UserInfor.FullName</p>
                <p>@Model.UserInfor.PhoneNumber</p>
            </div>
            <div class="main__check-out-box-location">
                <div class="main__check-out-box-location-content">
                    <p id="currentAddress">@Model.UserInfor.Address</p>
                    <a id="btn-change-address" onclick="showChangeAddress()">Change</a>
                </div>
                <div id="change-address" class="main__check-out-box-change-location">
                    <p>New address</p>
                    <input type="text" id="newAddress" placeholder="Enter your new address">
                    <input type="submit" value="Change" onclick="changeAddress()">
                </div>
            </div>
        </div>
        <div class="main__check-out-box-products">
            <table>
                <tr>
                    <th>Products (@Model.ProductCarts.Sum(x=>x.SelectedQuantity))</th>
                    <th>Simple price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                @foreach (var productCart in Model.ProductCarts)
                {
                    <tr>
                        <td>@productCart.Name</td>
                        <td>@string.Format("{0:N0}", ((Int64)@productCart.PriceVND))đ ~ <span class="color-orange">&nbsp;$@string.Format("{0:N0}", ((Int64)@productCart.PriceUSD))</span></td>
                        <td>@productCart.SelectedQuantity</td>
                        <td>@string.Format("{0:N0}", ((Int64)productCart.TotalVND))đ ~ <span class="color-orange">&nbsp;$@string.Format("{0:N0}", ((Int64)productCart.TotalUSD))</span></td>
                    </tr>
                }
            </table>
            @{
                Int64 totalExcludingFeeVND = (Int64)Model.ProductCarts.Sum(x => x.TotalVND);
                Int64 totalExcludingFeeUSD = (Int64)Model.ProductCarts.Sum(x => x.TotalUSD);
            }
        <div id="delivery" class="main__check-out-box-products-ship">
            <h2>Shipping fee</h2>
            @if (totalExcludingFeeVND >= 5000000)
            {
                <p>0đ ~ <span class="color-orange">$0</span></p>
            }
            else
            {
                <p>50.000đ ~ <span class="color-orange">$2</span></p>
            }
        </div>
            <div class="main__check-out-box-total-price">
                <h1>Total</h1>
                <h1>@string.Format("{0:N0}", ((Int64)totalExcludingFeeVND))đ ~ <span class="color-orange">$@string.Format("{0:N0}", ((Int64)totalExcludingFeeUSD))</span></h1>
            </div>
        </div>
        <div class="main__check-out-box-products">
            <p>Please choose a payment method</p>
            <div class="main__payment-choose-method">
                <div class="main__payment-choose-method-item">
                    <input type="radio" id="payShipCod" checked="checked" name="choosePaymentMethod">
                    <label for="pay-delivery">Payment on delivery</label><br>
                </div>
                <div class="main__payment-choose-method-item">
                    <input type="radio" id="payEWallet" name="choosePaymentMethod">
                    <label for="pay-paypal">PayPal</label><br>
                </div>
                <div class="main__payment-choose-method-item">
                    <input type="radio" id="payBankTransfer" name="choosePaymentMethod">
                    <label for="pay-momo">MoMo</label><br>
                </div>
            </div>
            <div class="main__check-out-box-btn">
                <p>If you confirm the order, please press order. Unless please press <a onclick="location.href='@Url.Action("ProductCart", "Cart")'">Back to Cart</a></p>
                <input type="submit" value="ORDERS" onclick="order()">
            </div>
        </div>
    </div>
</div>
