@{
    ViewData["Title"] = "Check out";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model IEnumerable<ShopOnline.Core.Models.Client.ProductCartModel>

<div class="main">
    <div class="main__shoppingcart">
        <div class="main__shoppingcart-bag">
            <div class="main__shoppingcart-bag-deliver">
                <h1>FREE DELIVERY</h1>
                <p>Applies to orders of 5.000.000₫ or more.</p>
            </div>
            <div class="main__shoppingcart-bag-items">
                <h1>Your Cart</h1>
                @foreach (var productCart in Model)
                {
                    <div class="main__shoppingcart-bag-item">
                        <img src="@productCart.Pic" alt="">
                        <div class="main__shopping-bag-item-dics">
                            <h1><b>@productCart.Name</b></h1>
                            <p>@string.Format("{0:N0}", ((Int64)productCart.PriceVND))đ ~ <span class="color-orange">$@string.Format("{0:N0}", ((Int64)productCart.PriceUSD))</span></p>
                            <div class="main__shopping-bag-item-dics-selec">
                                <p>Size: @((int)productCart.Size)</p>
                            </div>
                            <div class="main__product-quantity-box">
                                <button onclick="reduceFromCart(@productCart.Id)">-</button>
                                <p>@productCart.SelectedQuantity</p>
                                <button onclick="addMoreToCart(@productCart.Id)">+</button>
                            </div>
                        </div>
                        <p>Total @string.Format("{0:N0}", ((Int64)productCart.TotalVND))đ ~ <span class="color-orange">$@string.Format("{0:N0}", ((Int64)productCart.TotalUSD))</span></p>
                        <div class="main__shoppingcart-bag-remove">
                            <a onclick="removeFromCart(@productCart.Id)"><img src="~/img/icon/icon-remove.png" alt=""></a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="main__shoppingcart-checkout">
            @{
                Int64 totalExcludingFeeVND = (Int64)Model.Sum(x => x.TotalVND);
                Int64 totalExcludingFeeUSD = (Int64)Model.Sum(x => x.TotalUSD);
            }
            <h1>Summary</h1>
            <div class="main__shoppingcart-checkout-items">
                <h2>Total (Excluding fee)</h2>
                <h2>@string.Format("{0:N0}", totalExcludingFeeVND)đ ~ <span class="color-orange">$@string.Format("{0:N0}", totalExcludingFeeUSD)</span></h2>
            </div>
            <div class="main__shoppingcart-checkout-items">
                <h2>Shipping fee</h2>
                @if (totalExcludingFeeVND >= 5000000)
                {
                    <h2>0đ ~ <span class="color-orange">$0</span></h2>
                }
                else
                {
                    <h2>50.000đ ~ <span class="color-orange">$2</span></h2>
                }
            </div>
            <div class="main__shoppingcart-checkout-items total">
                <h2>Total</h2>
                @if (totalExcludingFeeVND >= 5000000)
                {
                    <p><b>@string.Format("{0:N0}", totalExcludingFeeVND)đ ~ <span class="color-orange">$@string.Format("{0:N0}", totalExcludingFeeUSD)</span></b></p>
                }
                else
                {
                    <p><b>@string.Format("{0:N0}", totalExcludingFeeVND + 50000)đ ~ <span class="color-orange">$@string.Format("{0:N0}", totalExcludingFeeUSD + 2)</span></b></p>
                }
            </div>
            <input type="submit" value="CHECK OUT" onclick="location.href='@Url.Action("CheckOut", "Cart")'">
        </div>
    </div>
</div>